@model List<LayoutDemo.Models.ViewModel.Cart>
@{
    ViewData["Title"] = "CART";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="topcontent">
    <img src="~/image/banner/banner1.png" class="img-fluid" style="margin:11px 0" />
</div>

@{
    if (Model != null)
    {
        using (Html.BeginForm("Payment", "Cart"))
        {
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-sm-12">
                        <div class="text-body1 text-justify">
                            <h1 class="h1 text-center font-weight-bold">@ViewData["Title"]</h1>
                        </div>
                        <table class="table justify-content-center align-content-center align-items-center">
                            <thead>
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                </tr>
                            </thead>
                            <tbody>

                                @*<tr>
                                    <td>
                                        <img src="~/image/product/table_top-stands/lumen1.png" height="60" />
                                    </td>
                                    <td class="text-wrap">LUMEN</td>
                                    <td class="salary">$<b>130.00</b></td>
                                    <td>
                                        <form class="form-inline">
                                        <input type="number" class="form-control-sm quantity" asp-for="Quantity" value="1" width="30" />
                                        <button class="btn btn-danger btn-sm">Remove</button>
                                        <a href="@Url.Action("Remove", " Cart")" class="btn btn-outline-warning float-right">Remove</a>
                                        </form>
                                    </td>
                                </tr>*@

                                @foreach (var item in Model)
                                {
                                    @Html.HiddenFor(m => item.ID)
                                    <tr>
                                        <td>
                                            <img src="~/image/product/all/@item.Image" height="60" />
                                        </td>
                                        <td class="text-wrap">@Html.DisplayFor(m => item.Name)</td>
                                        <td class="salary">@Html.DisplayFor(m => item.Price)</td>
                                        <td>
                                            @*<form class="form-inline">*@
                                            <input type="number" class="form-control-sm quantity" asp-for="@item.Quantity" name="quantity" value="1" width="30" />
                                            @Html.TextBoxFor(m => item.Quantity, new { @class = "form-control-sm quantity", @type = "submit", @style="width: 20" })
                                            @*<button class="btn btn-danger btn-sm">Remove</button>*@
                                            <a href="@Url.Action("Remove", "Cart", new { id = item.ID})" class="btn btn-outline-warning float-right">Remove</a>
                                            @*</form>*@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @*<p class="text-right">Total: $290.00</p>*@
                        @*<a asp-controller="Cart" asp-action="Payment" class="btn btn-success float-right">Check out</a>*@
                        <button type="submit" class="btn btn-success float-right">Check Out</button>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <span>Cart null</span>
    }
}}